.boardGridPane {
    -fx-background-image: url('../images/boardImage.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
 }

 .mainGridPane {
    -fx-background-color: rgb(161, 226, 247);
 }

.nicknameRequest {
    -fx-background-color: rgb(193, 221, 230);
}
