.boardGridPane {
    -fx-background-image: url('../images/board/board.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
 }

 .mainGridPane {
    -fx-background-image: url('../images/board/title_water.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
 }

.nicknameRequest {
    -fx-background-color: rgb(193, 221, 230);
}