@font-face {
    src: url("fonts/Rubik-Medium.ttf");
}
@font-face {
    src: url("fonts/Rubik-Light.ttf");
}
@font-face {
    src: url("fonts/Rubik-Regular.ttf");
}
@font-face {
    src: url("fonts/Rubik-Bold.ttf");
}

.boardGridPane {
    -fx-background-image: url('../images/board/board.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
 }

 .mainGridPane {
    -fx-background-image: url('../images/board/title_water.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
 }

 .classicButton {
    -fx-background-color: rgb(227, 227, 227);
    -fx-text-fill: rgb(61, 61, 61);
    -fx-padding: 10, 20;
    -fx-background-radius: 20;
    -fx-font-family: 'Rubik-Medium';
 }

  .selectedDarkButton {
     -fx-background-color: rgb(61, 61, 61);
     -fx-text-fill: rgb(245, 245, 245);
     -fx-padding: 10, 20;
     -fx-background-radius: 20;
     -fx-font-family: 'Rubik-Medium';
  }

 .classicTextField {
    -fx-background-color: rgb(227, 227, 227);
    -fx-text-fill: rgb(61, 61, 61);
    -fx-font-size: 11pt;
    -fx-padding: 7;
    -fx-background-radius: 15;
    -fx-font-family: 'Rubik-Regular';
 }

.nicknameRequest {
    -fx-background-color: rgb(193, 221, 230);
}

.regularText {
    -fx-font-size: 12pt;
    -fx-text-fill: rgb(61, 61, 61);
    -fx-font-family: 'Rubik-Regular';
}

.titleText {
    -fx-font-size: 16pt;
    -fx-text-fill: rgb(61, 61, 61);
    -fx-font-family: 'Rubik-Bold';
}

.roundedImageView {
    -fx-padding: 10, 20;
    -fx-border-radius: 20;
    -fx-background-color: black;
}